.dockerignore
Dockerfile
.vscode/
.devcontainer/
.git/
.DS_Store

**/.venv/
**/venv/
**/__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

data
docs
poc
session/
config.json